


{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
<div class="container d-flex justify-content-center">
<div class="d-flex flex-column justify-content-between">
  <div class="card mt-3 p-5">
    <div>
        <p class="text-light">Register To Get Started</p>
        <!-- <h4 class="mb-5 text-white">money with us!</h4> -->
    </div> <button class="btn  btn-lg callout"><small class="text-muted">Already Have An Account ?</small><span>&nbsp;<a class=""  style="color: #4654A3;" href="{{ login_url }}">Login Now</a></span> </button>
</div>
<div class="card two bg-white px-5 py-4 mb-3">
  <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}"> 
    {% csrf_token %}
    {{ form|crispy }}
    
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="button secondaryAction link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
   
    <button type="submit" class="btn  btn-block btn-lg mt-1 mb-2 loginbtn"><span>{% trans "Sign Up" %}<i class="fas fa-long-arrow-alt-right ml-2"></i></span></button>
</form>
<span class="text-center text-muted">Register with</span>
  <!-- <div class="btn btn-block social-account">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</div> -->
  <div class="btn btn-block social-account"  style="background-color: #4654A3;">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</div>



</div>

</div>
  
</div>

<style>


 
</style>
{% endblock %}

   