
  body {
    background-color: whitesmoke !important
    
}

.container {
    flex-wrap: wrap
}

.card {
    width: 1000px;
}
.link{

  color: #0e0a07b7;
}
.link.hover {
    color:#D7782F;
}
.socialaccount_provider{
  color: #fff;
  display: inline;
    text-align:center;
}
.card,.loginbtn {
    border: none;
    border-radius: 10px;
    background-color: #3D589E !important;
    width: 350px;
    margin-top: -60px
}

p.mb-1 {
    font-size: 25px;
    color:  #D7782F;
}

.btn-primary,.callout {
    border: none;
    background:#d4cdd2;
    margin-bottom: 60px
}

.btn-primary small {
    color: #D7782F;
}

.btn-primary span {
    font-size: 13px
}

.card.two,.card {
    border-top-right-radius: 60px;
    border-top-left-radius: 0;
    /* width: 300px */
}


.form-group {
    position: relative;
    margin-bottom: 2rem
}

.form-control {
    border: none;
    border-radius: 0;
    outline: 0;
    border-bottom: 1.5px solid #E6EBEE
}

.form-control:focus {
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid #8A97A8
}

.form-control-placeholder {
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 80%
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -90%, 0);
    opacity: 1;
    top: 10px;
    color: #8B92AC
}

.btn-block {
    border: none;
    border-radius: 8px;
    background-color:#3D589E;
    padding: 10px 0 12px
}

.btn-block:focus {
    box-shadow: none
}
.invalid-feedback{
    color:rgb(228, 140, 140);

}
.btn-block span,.link {
    font-size: 15px;
    color: #D0E6FF
}

.facebook{
  float: right;
  background-color:#4654A3;
  /* scrollText: '<i class="fa fa-angle-double-up"></i>', */
  
}
.google{
  float:left;
  background-color:#4654A3;

}

