{% extends 'header1.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="container">
    <section id="" class="wrapper style1">
        <div class="container 75%">
            <div class="row 200%">
                <div class="6u 12u$(medium)">
                    <header class="major">
                        <h2>EKOL XTAYCONNECT AFRICA </h2>
                        <p>LIMITED</p>
                    </header>
                </div>
                <h4 class="6u$ 12u$(medium) text-monospace" style="font-weight: normal;">
                    <p>
                        XtayConnect Africa started as a Research into other products that could rely on
                        the internet to provide support for the unsupported mass in 2018. It was incorporated as
                        Ekol XtayConnect Enterprise in the early part of 2020 and later changed to Ekol XtayConnect
                        Africa Limited in the Republic of Ghana.

                    </p>



                    <!-- Button trigger modal -->
                    <button style="background-color:#270949" type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop">
                        Continue Reading
                    </button>
                </h4>
                <!-- Modal -->
                
                <div class="modal fade modal-dialog-scrollable " id="staticBackdrop" data-backdrop="static"
                    data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">About XtayConnect Africa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4 class="text-monospace" style="font-weight: normal;">

                                    The research found its way into Products’ Development and relied on the technologies
                                    from the Fourth Industrial Revolutions (4IR) to provide technology and smart
                                    solutions that could stand the test of time and aid the majority of people in Africa
                                    become relevant with little commitments.

                                    The company aims to provide and rely on internet related gadgets and devices to
                                    include rural and peri-urban, middle and low class folks enjoy same or similar
                                    services as is by the high earning class in a number of countries in Africa
                                    beginning from Ghana.

                                    The flagship product, Smart TV Boxes, come as either an Android Set Top Box, 4G LTE
                                    STB (Capable of Accepting SIM Cards), a Digital Hybrid STB, in a bid to bring
                                    services such as Online Studies/E-Learning, Web Search Engines, IPTV Apps like
                                    Netflix, YouTube and Games to the TV screen without the need for a smart TV. The set
                                    top box also has an inbuilt Android platform, which supports 4K/6K contents
                                    and downloadable apps, along with TV channels.
                                    This may become the first hybrid OTT Set Top Box powered by Android Platform TV to
                                    be launched in the Ghana and Sub Saharan Africa;
                                    Notably, when Telcos and the Government through the Ministries of Communication and
                                    Education in collaboration with the Educational Institutions/Content providers adopt
                                    this as a means to provide an equal opportunity for the all; privileged & less
                                    privileged individuals will gain access to Online Contents (E-Learning/Online
                                    Studies, Entertainment), the ‘INEVITABLE NEW NORMAL’ post Covid 19.
                                    The TV set top box is 4K/6K content ready, and enables live contents to be paused,
                                    recorded or even rewind. Users will need to insert a USB pen drive to record
                                    content, and can use an SD card to save downloaded apps.
                                    There is an in-built Wi-Fi feature that connects with your home network or even your
                                    mobile hotspot if required. Users can also connect Bluetooth headsets, keyboards,
                                    and controllers.
                                    Growing broadband penetration is driving the popularity of online content,
                                    particularly in urban homes, and with this Android TV Box, we are bringing excellent
                                    content from the web and much more to the TV screen, an all-round solution.
                                    The long-term vision for XtayConnect Africa is to increase the Internet
                                    penetration/usage rate in especially Sub-Saharan Africa and to reduce Internet
                                    access costs by investing in the needed partnership and advanced-yet relatively
                                    cheaper infrastructure and devices.

                                    The XtayConnect brand is an initiative to aid ‘Continuous Connectivity’ with
                                    ‘equality and balance’ in the field of advanced technology;

                                    We are concerned with ‘making complicated things simple’ in all endeavors;
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" style="background-color:#270949;" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Two -->
    <section id="two" class="wrapper style2 special">
        <div class="container">
            <header class="major">
                <h2>Vision, Mission </h2>
                <p>XtayConnect Africa TM </p>
            </header>
            <div class="row 150%">
                <div class="6u 12u$(xsmall)">
                    <div class="image fit captioned">
                        <img src="{% static 'images/logo/JPEG Xtay.ico' %}"  style="width:auto;height: fit-content;padding-left: 15em;" alt="" />


                    </div>
                </div>
                <div class="6u$ 12u$(medium)">
                    <div class="">
                        <h4 class="text-capitalize text-monospace" style="font-weight: normal;">
                            <p class="r"> to ‘become the most dependable and reliable partner in relevant technology and
                                ‘opportunity-for-all’ in Africa by the end of 2025’; <br>
                            </p>

                            <p class="">
                                to ‘partner all Private and Public institutions relevant in running a technology and
                                connectivity hub, willing and able to sustain the solutions over a given period of time’

                            </p>
                        </h4>
                    </div>
                </div>
            </div>
            <h2> <em>CORE VALUES</em></h2>
            <ul class="actions">
                <li><a href="#" class="button special big" style="background-color: #D7782F;"> Synergies </a>
                </li>
                <li><a href="#" class="button big" style="background-color: #270E46;"> Support  </a></li>
                <li><a href="#" class="button special big" style="background-color:#2D589E;"> Diversity</a>
                </li>
                <li><a href="#" class="button big" style="background-color:#B95567;"> Inclusion</a></li>
            </ul>
            <ul class="actions">
                
            </ul>
            We believe a large majority of people depend on the harnessed unique capabilities of teams, individuals and
            institutions; hence, we are opened to any form of relevant partnership to provide cheaper, alternate
            products and services the large majority.
        </div>
    </section>

    
        <div class="container justify-content-center ">
            <div class="row 200%">
                
                
                    <!-- Modal -->
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><em >  EMMANUEL KWAKU OWUSU LARBI</em></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-monospace" style="font-weight: normal;">
                                        He also has a
                                        deferred EMBA from Assam Don Bosco University - India, which he intends to go back and complete in
                                        2022 after pursuing PMP in 2021.
                                        Mr. Larbi also has over 10 years of experience in Business Promotion,
                                        Regulations and Development,
                                        Management, Sales and Marketing, Public Relations, Corporate Governance and
                                        Operations among other
                                        related fields.

                                        He is the CEO of XtayConnect Africa (a DTH service provider & ISP). He is the
                                        Director of Business
                                        Consultation at TruCapital Global Advisors (a BPO, Capital Raising and Business
                                        Consultancy and
                                        Training firm in Accra, Ghana) and a Director for TruCap Logistics Ghana Limited
                                        (Transport, Haulage
                                        and Logistics Company) and Eclectic Hermanez Limited (Real Estate, Building &
                                        Construction and
                                        Property Management). He is the Executive Board Chairman of the Young African
                                        Entrepreneurs’ Network
                                        [YAEN] and works as a Board member for about 4 companies in Accra and Tema.

                                        He has the mandate and obligation to ensuring that clients enjoy the endless
                                        opportunities of
                                        tailor-made solutions with quality and value for money as the driving forces.

                                        Currently a Business Development Manager, and Key Project/Accounts’ Manager in
                                        charge of Enterprise
                                        Fiber connectivity and Deployment, PRIME, Tizetti, Ghana Water deployments among
                                        others for U-ton
                                        Engineering Limited, a Telecommunication Consortium in Ghana and the Business
                                        representation in the
                                        Republic of Liberia and Sierra Leone.

                                        He is distinguished by his ability to identify, leverage, and develop talents.
                                        Clients appreciate
                                        his high-spirited straight talk, and often-unconventional perspectives.

                                        He has a contagious enthusiasm and passionate belief in people that inspires
                                        them to become prouder,
                                        stronger, and more valuable contributors to their organizations.

                                        He loves to engage in Public Relations, Community Engagements, and Alternate
                                        Dispute Resolutions
                                        among others. He also likes travelling and making sure everyone who encounters
                                        him remains happy and
                                        smiles ever after.

                                        Mr. Larbi has trained (directly and indirectly), a number of people in the field
                                        of Corporate
                                        Structures, Business Set up, Sales, Community relations and played roles in a
                                        number of ADR cases in
                                        Tema and Ashaiman. He has also spoken to Young Entrepreneurs and on relationship
                                        topics with a
                                        couple of Churches in Tema and Accra.

                                        In the future, by grace, he intends to enter into Servant-Leadership-Politics
                                        and read his DBA and
                                        PhD before attaining 45years.

                                    </h5>
                                </div>
                                <div class="modal-footer">
                                    <button style="background-color:#270949;" type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- model end -->
           
            </div>



            <div class="about-us-wrapper pt-60 pb-40 " style="background-color:rgba(201, 190, 194, 0.144);">
                <div class="container">
                    <h2 class="text-center"><u>ABOUT THE CEO</u></h2>

                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span> BRIEF PROFILE </span></h2>

                                <!-- <em> EMMANUEL KWAKU OWUSU LARBI</em> <br> -->
             
                                 Emmanuel K.O Larbi holds an MBA from the Australian Institute of Business (through the Accra
                                 Business School) and a graduate Diploma in Public Finance and Accountancy from the Institute of
                                 Accountancy Training from the Ministry of Finance and Economic Planning in Ghana.
                                <br>
                                <button style="background-color:#270949;" type="button" class="btn" data-toggle="modal" data-target="#modelId">
                                    Continue Reading
                                </button>

                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap3">
                                <img class="img-full float-right" src="{% static 'images/EKOL.jpg' %}" style="height: 300px; width:auto" alt="About CEO EMMANUEL KWAKU OWUSU LARBI " />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <header class="major">

                <p>ever ready to hear from you</p>
            </header>
            <!-- <ul class="actions">
                <li><a href="https://api.whatsapp.com/send?phone=+233206494929&text=#XTAYCONNECT AFRICA TM. hello, feel free to talk to us."
                        class="button special big" style="background-color: #3D589E;">Get in touch</a></li>
            </ul> -->
        </div>
    </section>
            </div>
            
        </div>
    </section>


</div>


<style>
    h1, h2, h3, h4, h5, h6 {
		text-transform: none;
	 } 
    

body{
    margin: 0; padding: 0; border: none; margin-top:2px;

}
</style>


{% endblock %}