{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>




    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>XtayConnect Africa</title>
    <meta name="google-site-verification" content="o1DPArDP5gesmVyQu3YsQBOdZnX2NtUQ0yD_Zx4Js9k" />

    <meta name="keywords" content="XtayConnect AfricaTM" />
    <meta name="description" content="EKOL XTAYCONNECT AFRICA LIMITED  Online Store">
    <meta name="author" content="XtayConnect AfricaTM">
    <meta name="copyright" content="XtayConnect AfricaTM">
    <meta name="page-type" content="eCommerce">
    <meta name="audience" content="Everyone">
    <meta name="robots" content="index, follow">

    <meta name="theme-color" content="#4654A3" >

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo/JPEG Xtay.jpg' %}">

    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700',
                    'Segoe Script:300,400,500,600,700'
                ]
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = '{% static "js/webfont.js" %}';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <!--start of Tawk.to Script-->

    

    <script>
        var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?13867';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var options = {
      "enabled":true,
      "chatButtonSetting":{
          "backgroundColor":"#3f589e",
          "ctaText":"We are live",
          "borderRadius":"25",
          "marginLeft":"0",
          "marginBottom":"10",
          "marginRight":"10",
          "position":"right"
      },
      "brandSetting":{
          "brandName":"XtayConnectAfrica",
          "brandSubTitle":"Typically replies within an hour",
          "brandImg":"https://xtayconnectafrica.com/static/images/croped.jpg",
          "welcomeText":"Hi, there!\nHow can I help you?",
          "messageText":"Hi, there 👋%0AHaving trouble with shopping ?%0Asend us a text",
          "backgroundColor":"#3f589e",
          "ctaText":"Start Chat",
          "borderRadius":"25",
          "autoShow":false,
          "phoneNumber":"233206494929"
      }
    };
        s.onload = function() {
            CreateWhatsappChatWidget(options);
        };
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    </script>
    
 <!--Start of Tawk.to Script-->
<!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/60389c711c1c2a130d62a033/1evei6be7';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script> -->
    <!--End of Tawk.to Script-->

    <!--End of Tawk.to Script-->
    <!-- heder page -->

    <!-- Plugins CSS File -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"> -->


<!-- toastr start -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- toastr end -->

    <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/animate.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/venobox.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/nice-select.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/modernizr-2.8.3.min.js' %}">



    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/styledetail.css' %}">





    {% block head %}

    {% endblock head %}

</head>

<body >
 
    <div class="page-wrapper">
        <header class="header">

            <div class="header-middle">
                
                <div class="container middle_header">
                    <div class="header-center">
                        <button class="mobile-menu-toggler float-left" type="button">
                            <i class="icon-menu"></i>
                        </button>
                        <a href="/" class="logo">
                            <img src="{% static 'images/croped.jpg' %}" id="mainlogo"
                                alt="XtayConnect AfricaTM logo">
                        </a>
                    </div><!-- End .headeer-center -->
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>

                        <div class="header-search" style="align-items: center !important;">
                            <form action="{% url 'search' %}" method="get" id="searchform">
                                <div class="header-search-wrapper ">
                                    <input type="search" class="form-control" name="q" id="q"
                                        placeholder="Eg Android TV Box" required
                                        value="{{request.GET.q}}">

                                    <button class="btn btn-lg btn-search"
                                        style="color:white;background-color: #4654A3;margin: 0;"
                                        type="submit">Search</button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div><!-- End .header-left -->



                    <div class="header-right">
                        <div class="header-contact">
                            <span>Call us now</span>
                            <a href="tel:+233206494929"><strong>+233206494929</strong></a>
                        </div><!-- End .header-contact -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="cart-count" id="cart-count" style="color:white;background-color: #4654A3;">
                                    {{cart|length}}</div>
                            </a>

                            <div class="dropdown-menu">
                                <div class="dropdownmenu-wrapper">
                                    <div class="dropdown-cart-header">
                                        <span class="cart-count mx-2" style="color:#4654A3">{{cart|length}}
                                            </span> <span style="color:#4654A3">Item{{cart|length|pluralize}}</span>


                                        <a style="color:#4654A3" href="{% url 'cart:cart_detail' %}">View Cart</a>
                                    </div><!-- End .dropdown-cart-header -->
                                    <div class="dropdown-cart-products">


                                    </div><!-- End .cart-product -->



                                    <div class="dropdown-cart-action">
                                        <a style="background-color: #4654A3;" href="{% url 'orders:checkout' %}"
                                            class="btn btn-block">Checkout</a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div><!-- End .dropdownmenu-wrapper -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows ">
                            <li class=""><a class="nav-item" href="/">Home</a></li>
                            <li>
                                <a href="#" class="sf-with-ul nav-item">Categories</a>

                                <div class="megamenu megamenu-fixed-width">

                                    <div class="row">
                                        {% for navs in nav %}
                                        <div class="col-lg-4 col-md-6">

                                            <div class="menu-title">
                                                <a class="" href="#">
                                                    {% if navs.is_available %}
                                                    {{navs.name}}
                                                    {% endif %}
                                                    <span class=""></span></a>
                                            </div>

                                            <ul>
                                                {% for items in navs.sub_categories.all %}
                                                {% if items.is_available %}
                                                <li class=""><a href="{% url 'categories' items.id %}">

                                                        {{items.name}}<span class=""></span></a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>


                                        </div><!-- End .col-lg-6 -->
                                        {% endfor %}

                                    </div><!-- End .row -->


                                </div><!-- End .megamenu -->


                            </li>
                            {% if user.is_staff %}
                            <li>

                                <a href="#" class="sf-with-ul nav-item">Pages</a>

                                <ul>

                                    <hr>

                                    <li><a class="" title="orders placed by customers"
                                            href="{% url 'orders:orders' %}">Orders
                                            Placed</a></li>


                                </ul>

                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <!-- <li class="float-right"><a>{{user.first_name}}</a></li> -->
                            <li class="float-right"><a class="nav-item" href="{% url 'account_logout' %}">LOGOUT</a>
                            </li>
                            {%else %}
                            <li class="float-right "><a class="nav-item" href="{% url 'account_login' %}">LOGIN</a></li>
                            <li class="float-right"><a class="nav-item" href="{% url 'account_signup' %}">REGISTER</a>
                            </li>
                            {% endif %}
                            {% if user.is_staff %}
                            <li>
                                <a class="btn pulse nav-item" href="{% url 'create_form' %}">Create</a>

                            </li>
                            {% elif user.is_authenticated %}
                            <li>
                                <a title="orders placed" class="btn nav-item" href="{% url 'orders:my_order_detail' %}">My Orders</a>

                            </li>
                            {% endif %}
                            <li><a class="nav-item" style="color: #4654A3" href="{% url 'about' %}">About Us</a></li>

                        </ul>
                    </nav>
                </div><!-- End .header-bottom -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->



        
        {% block content %}

        {% endblock %}
      
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- Main CSS File -->
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free/css/all.min.css' %}"> -->

        <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="footer-ribbon" style="background-color: #4654A3;">
                        Get in touch
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="widget">
                                        <ul class="contact-info">
                                            <li>
                                                <span class="contact-info-label">Address:</span>

                                                No. 114, Malm Rd, Swaniker Street – Abelemkpe, Accra
                                            </li>
                                            <li>
                                                <span class="contact-info-label">Phone:</span><a
                                                    href="tel:+233206494929">
                                                    +233206494929</a>
                                            </li>
                                            <li>
                                                <span class="contact-info-label">Phone:</span><a
                                                    href="tel:+233271494929">
                                                    +233271494929</a>
                                            </li>
                                            <li>
                                                <span class="contact-info-label">Email:</span> <a
                                                    href="mailto:xtayconnect.africa@gmail.com ">xtayconnect.africa@gmail.com
                                                </a>
                                                <a href="mailto:info@xtayconnectafrica.com">
                                                    info@xtayconnectafrica.com</a>
                                                <a href="mailto:ceo@xtayconnectafrica.com  ">ceo@xtayconnectafrica.com
                                                </a>

                                            </li>
                                            <li>
                                                <span class="contact-info-label">Working Days/Hours:</span>
                                                Mon - Sun / 9:00AM - 8:00PM
                                            </li>
                                            <li>
                                                <span class="contact-info-label">you can also reach us
                                                    <a class="d-lg-none" style="color:#00A751;" href="https://api.whatsapp.com/send?phone=+233206494929&text=hello {% if user.is_authenticated %}{{user}}:
                                                      {% endif %}feel free to talk to us." target="_blank"
                                                        rel="noopener noreferrer">via whatsapp
                                                    </a>
                                                    <a class="d-none d-lg-block" style="color:#00A751;"
                                                        href="https://web.whatsapp.com/send?phone=+233206494929&text=hello {% if user.is_authenticated %}{{user}}: {% endif %}feel free to talk to us."
                                                        target="_blank" rel="noopener noreferrer">
                                                        via whatsapp

                                                </span>
                                            </li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-md-5 -->
                                <div class="col-md-3">
                                    <div class="widget">
                                        <h4 class="widget-title">About XtayConnect Africa</h4>

                                        <ul class="links">
                                            <li><a href="{% url 'about' %}">About Us</a></li>
                                            <!-- <li><a href="#">Contact Us</a></li> -->
                                            <li><a href="#">My Account</a></li>

                                           <li><a href="/terms_and_conditions">Terms And Conditions</a></li>
                                           <li><a href="/return_policy">Return Policy</a></li>

                                            <li><a href="{% url 'account_login' %}" class="login-link">Login</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-md-3 -->


                            </div><!-- End .row -->
                        </div><!-- End .col-lg-8 -->

                        <div class="col-lg-4">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Subscribe newsletter</h4>
                                <p>Get all the latest information on Events,Sales and Offers. Sign up for newsletter
                                    today</p>
                                <form action="#">
                                    <input type="email" class="form-control" placeholder="Email address" required>

                                    <input type="submit" class="btn" value="Subscribe">
                                </form>
                            </div><!-- End .widget -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="container">
                <div class="footer-bottom">
                    <p class="footer-copyright">XtayConnect AfricaTM. &copy; {% now 'Y' %}. All Rights Reserved</p>
                    <img src="{% static 'images/payments.png' %}" alt="payment methods" class="footer-payments">

                    <div class="social-icons">
                        <a href="https://www.facebook.com/XtayConnect-Africa-109896374204854/" class="social-icon"
                            target="_blank"><i class="icon-facebook"></i></a>
                        <a href="https://twitter.com/Xconnect_Africa?s=08" class="social-icon" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/xtayconnect-africa/" class="social-icon"
                            target="_blank"><i class="icon-linkedin"></i></a>
                        <a href="https://www.instagram.com/xtayconnect_africa/" class="social-icon" target="_blank"><i
                                class="icon-instagram"></i></a>


                    </div><!-- End .social-icons -->
                </div><!-- End .containr -->
                {% if request.user.is_staff %}
                <div class="container">
                 <div class="row">
                    <p class="text-danger my-4" title="only visible for administrators" data-toggle="tooltip" data-placement="top">
                        ADMININSTRATORS VIEW
                        <i class="fa fa-hand-o-right text-light" aria-hidden="true">  </i>

                    </p>

                     <ul class="mb-4">

                         <li class="adminview">
                            <a class="btn" href="{% url 'reports:customers' %}" title="view data related to customers" data-toggle="tooltip" data-placement="top">View Customers</a>

                         </li>
                         <li class="adminview">
                            <a class="btn" href="/xconnect/" title="view administrator page " data-toggle="tooltip" data-placement="top">Back Office</a>

                         </li>
                         <li class="adminview">
                                <a class="btn" href="{% url 'reports:product_report' %}" title="view product report" data-toggle="tooltip" data-pl>Products / Items</a>
                         </li>
                     </ul>
                    
                 </div>
             </div>
                  
                {% endif %}

             
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->

    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-cancel"></i></span>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class=""><a href="/">Home</a></li>

                    <li>
                        <a class="nav-item" href="#">Categories</a>


                        <ul>
                            {% for navs in nav %}
                            <li>
                                <a href="#">{{navs.name}}</a>
                                <ul>
                                    {% for items in navs.sub_categories.all %}
                                    <li><a href="{% url 'categories' items.id %}">{{items.name}}</a></li>

                                    {% endfor %}
                                </ul>

                            </li>
                            {% endfor %}

                        </ul>


                    </li>
                    <li> 
                        <a class="nav-item"  href="#">Pages</a>
                        <ul>
                             <li><a class="nav-item" href="{% url 'cart:cart_detail' %}">Shopping Cart</a></li>
                            <li>
                                <a class="nav-item" href="{% url 'orders:checkout' %}">Checkout</a>
                                <!-- <ul>
                                    <li><a href="#">Checkout Shipping</a></li>
                                    <li><a href="#">Checkout Shipping 2</a></li>
                                    <li><a href="#">Checkout Review</a></li>
                                </ul> -->
                            </li>


                            <!-- <li><a href="#">Forgot Password</a></li> -->

                            {% if user.is_staff %}
                            <li><a class="nav-item" title="orders placed by customers" href="{% url 'orders:orders' %}">Orders Placed</a>
                            </li>
                            <li title="add a new item"><a  class="btn pulse nav-link" href="{% url 'create_form' %}">Create</a>
                            </li>
                            
                            
                            {% endif %}

                        </ul>
                    </li>
                    <!-- <li><a href="#">Blog</a>
                        <ul>
                            <li><a href="#">Blog Post</a></li>
                        </ul>
                    </li> -->

                    {% if user.is_authenticated %}
                    <li class=""><a class="nav-item" href="{% url 'account_logout' %}">LOGOUT</a> </li>
                        <li>
                            <a title="orders placed" class="nav-item" href="{% url 'orders:my_order_detail' %}">My Orders</a>

                        </li>

                        {% else %}
                    <li><a  class="nav-item" href="{% url 'account_login' %}">LOGIN<span class=""></span></a></li>
                    <li><a class="nav-item" href="{% url 'account_signup' %}">REGISTER</a></li>
                    {% endif %}
                    <li class=""><a class="nav-item" href="{% url 'about' %}">About Us</a></li>

                </ul>

            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="https://www.facebook.com/pages/category/Product-Service/XtayConnect-Africa-109896374204854/"
                    class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
                <a href="https://twitter.com/Xconnect_Africa?s=08" class="social-icon" target="_blank"><i
                        class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/xtayconnect_africa/" class="social-icon" target="_blank"><i
                        class="icon-instagram"></i></a>
                <a href="https://www.linkedin.com/company/xtayconnect-africa/" class="social-icon" target="_blank"><i
                        class="icon-linkedin"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- 
    <div class="newsletter-popup mfp-hide" id="newsletter-popup-form"
        style="background-image: url('{% static "images/newsletter_popup_bg.jpg" %}')">
        <div class="newsletter-popup-content">
            <img src="{% static 'images/logo-black.png' %}" alt="Logo" class="logo-newsletter">
            <h2>BE THE FIRST TO KNOW</h2>
            <p>Subscribe to the Porto eCommerce newsletter to receive timely updates from your favorite products.</p>
            <form action="#">
                <div class="input-group">
                    <input type="email" class="form-control" id="newsletter-email" name="newsletter-email"
                        placeholder="Email address" required>
                    <input type="submit" class="btn" value="Go!">
                </div><!-- End .from-group -->
    <!-- </form> -->
    <!-- <div class="newsletter-subscribe">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="1">
                Don't show this popup again
            </label>
        </div>
    </div> -->
    </div>
    </div>
    <!-- End .newsletter-popup -->
    <!-- Add Cart Modal -->
    <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="addCartModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body add-cart-box text-center">
                    <b class="cart_saved text-danger" style="font-weight: bolder;"><br></b>
                    <h4 id="productTitle"></h4>
                    <img src="#" id="productImage" width="100" height="100" alt="adding cart image">
                    <div class="btn-actions">
                        <form method="post" id="cartform">
                            {% csrf_token %}

                            <div class="form-group product-btns">
                                <div class="qty-input">
                                    <span class="text-uppercase">QTY: </span>
                                    <input class="input" type="number" id="quantity" required>
                                    <button id="add-to-cart" class="primary-btn add-to-cart my-4 mb-4"
                                        style="background-color: #F95B3D;"><i class="fa fa-shopping-cart"></i> Add to
                                        Cart</button>

                                </div>
                            </div>


                        </form>
                    </div>

                    <div>
                        <button class="btn btn-primary" data-dismiss="modal" style="background-color: #4654A3;">Continue
                            shoping</button>

                        <a class="btn btn-primary" href="{% url 'orders:checkout' %}"
                            style="background-color: #4654A3;">checkout</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a> -->

    <!-- Plugins JS File -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/plugins.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.min.js' %}"></script>

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/venobox.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/scrollUp.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- menu -->
    <!-- <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script> -->
    <script src="{% static 'js/wow.min.js' %}"></script>

</body>

<!-- Mirrored from portotheme.com/html/porto_ecommerce/demo_9/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 May 2020 05:11:41 GMT -->

</html>


<style>
    #product-id {
        display: none;
        visibility: hidden;
    }

    .header-middle {
        margin: 0;
        padding: 0;
        border: none;
        margin-top: 2px;
        
    }


    .main-nav {
        background-color: #4654A3;
        height: 50px;
    }
  
    .nav-item {
        color: white !important;
        
    }
    .menu>li>a{
padding: 1.5em ;
    }
/* mobile */
    @media screen and (max-width: 600px) {
        .bannerpc {
            display: none;
        }


        .logo {
            padding-right: 1em !important;

        }

        #mainlogo {
            height: 50px;
            width: auto;
        }
 
       
    }
  
  .core{
      align-items: center
  }
/* big screens */
 @media screen and (min-width: 600px) {
    #mainlogo {
            height: 50px;
            width: autox;
        }
        #mainlogo {
            padding-right: 20em !important;
        } 
        
}
body {
  background: #fff !important;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

.toast-custom {
    background-color: purple;
}
.adminview{
    display: inline;
  
}
</style>

<script>




    $('#cartform').on('submit', function (e) {
        let product_id = $('#product-id').text()

        e.preventDefault();


        // var department = '{{department.id}}'

        // console.log('department = ',department,'url = ',url)
        url = '/add/' + product_id + '/'




        $.ajax({
            type: 'POST',
            url: url,

            data: {

                product: $('#product-id').text(),
                quantity: $('#quantity').val(),
                // update_quantity:$('#update_quantity').val(),

                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

            },
            beforeSend: function () {
                // $(".cart_saved").text('saving to cart...').addClass('alert')
                toastSuccess('Saving To Cart...')
                // $('#addtocart').text('adding to cart..')
            },

            success: function () {
                // $('#modelId').fadeIn()
                console.log('saved')
                toastSuccess('Saved To Cart')
                getcartsize()


            },
            error: function () {
                // alert('error')
                toastError('not saved try again')
                // $('.cart_saved').text('not saved').fadeOut(5000)

            }

        })
    })



    function getcartsize() {
        $.ajax({
            url: '/cart_size/',
            type: 'GET',
            success: function (res) {
                // console.log('size is ',res.size)
                $('.cart-count').text(res.size)
                $('.cart_saved').text('saved to Cart').fadeOut(5000)

                quantity = $('#quantity').val('')
            },
            error: function () {
                $('.cart_saved').text('not saved').fadeOut(5000)

            }
        })
    }

</script>