{% extends 'header1.html' %}
{% load thumbnail %}

{% load humanize %}

{% block content %}


{% load static %}

<main class="main">

    <!-- Slider Area start Here -->

    <!-- Begin Slider With Banner Area -->
    <div class="slider-with-banner">
        <div class="container">
            <div class="row">

                <!-- Begin Slider Area -->
                <div class="col-lg-8 col-md-8">
                    <div class="slider-area">
                        <div class="slider-active owl-carousel">
                            <!-- Begin Single Slide Area -->
                            {% for product in products|slice:":4" %}

                                <!-- {{product.promational_products}} -->
                            <div class="single-slide align-center-left  animation-style-01 bg-1"
                                style="background-image: url({% static 'images/slider/2.jpg' %})">
                                <div class="slider-progress"></div>

                                <div class="slider-content">
                                    <h5>Sale Offer <span>{{product.discount}}% Off</span></h5>
                                    
                                    {% if product.is_promational %}
                                    <h2>{{product.text|truncatechars:20}}</h2>
                                    {% else %}
                                    <h2>{{product.name|truncatechars:20}}</h2>
                                    {% endif %}
                                        
                                    <h3>Starting at <span>GH₵: {{product.price|intcomma}}</span></h3>
                                    <div class="default-btn slide-btn">
                                        <a class="links" href="{{product.get_absolute_url}}">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Single Slide Area End Here -->

                        </div>
                    </div>
                </div>

               

                <!-- Slider Area End Here -->
                <!-- Begin Li Banner Area -->
                <div class="col-lg-4 col-md-4 text-center pt-xs-3 bannerpc">
                    <h4>Latest Package</h4>
                    <div class="li-banner">
                        {% for product1 in latest_items|slice:'0:1'  %}
                          
                       
                        <a href="{{product1.get_absolute_url}}">
                            <img src="{{product1.image.url}}" alt="">
                        </a>
                        <div class="price-box">
                            <span class="product-price">GH₵ {{product1.price|intcomma}}</span>
                            {% if product1.discount %}
                            <small class=""><del>GH₵ {{product1.discount|intcomma}}</del></small>

                            {% endif %}
                        </div><!-- End .price-box -->
                        {% endfor %}
                    </div>
                    <!-- <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                        {% for product1 in latest_items|slice:'1:2'  %}
                          
                       
                        <a href="{{product1.get_absolute_url}}">
                            <img src="{{product1.image.url}}" alt="">
                        </a>
                        {% endfor %}
                    </div> -->
                </div>

                <!-- Li Banner Area End Here -->
            </div>
        </div>
    </div>
    <!-- Slider With Banner Area End Here -->




    <!-- Slider Area End Here -->

    <div class="container mt-4">
        <div class="row">
            {% for product in products|slice:":4" %}
            <div class="col-6 col-lg-3">

                <div class="product-default product-default-home">
                    <figure>

                        <a href="{{product.get_absolute_url}}">
                            <img src="{{product.image.url}}" id="product_image" alt="{{product.name}}">

                        </a>
                    </figure>
                    <div class="product-details">
                        <div class="ratings-container">
                            <div class="product-ratings">
                                <span class="ratings" style="width:400"></span><!-- End .ratings -->
                            </div><!-- End .product-ratings -->
                        </div><!-- End .product-container -->

                        <h2 class="product-title">
                            <a id="product-name" href="{{product.get_absolute_url}}">{{product.name|truncatechars:20}}</a>
                            <h6 id="product-id">{{product.id}}</h6>
                        </h2>
                        <div class="price-box">
                            <span class="product-price">GH₵ {{product.price|intcomma}}</span>
                            {% if product.discount %}
                            <small class=""><del>GH₵ {{product.discount|intcomma}}</del></small>

                            {% endif %}
                        </div><!-- End .price-box -->
                        <div class="product-action">
                            <!-- <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a> -->
                            <button class="btn-icon btn-add-cart" style="background-color: #4654A3;color: white;"
                                data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i>ADD TO
                                CART</button>
                            <!-- <a href="{{product.get_absolute_url}}" class="btn-quickview" title="Quick View"><i
                                    class="fas fa-external-link-alt"></i></a> -->
                        </div>
                    </div><!-- End .product-details -->
                </div>




            </div>
            {% endfor %}
        </div>
    </div><!-- End .container -->




    <!-- End .home-slider-container -->

    <div class="info-boxes-container my-4">
        <div class="container">
            <div class="info-box">
                <i class="icon-shipping"></i>

                <div class="info-box-content">
                    <h4>FREE SHIPPING & RETURN</h4>
                    <p class="capitalize">Free shipping on all orders over GH₵: 99.</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <i class="icon-us-dollar"></i>

                <div class="info-box-content">
                    <h4>MONEY BACK GUARANTEE</h4>
                    <p class="capitalize">100% money back guarantee</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box">
                <i class="icon-support"></i>

                <div class="info-box-content">
                    <h4>ONLINE SUPPORT 24/7</h4>
                    <p class="capitalize">We Are online 24/7 for all your inquiry.</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
        </div><!-- End .container -->
    </div><!-- End .info-boxes-container -->






    <!-- wrapper start -->

    <!-- Begin Li's Content Wraper Area -->
    <div class="content-wraper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-1 order-lg-2">
                    <!-- Begin Li's Banner Area -->

                    <!-- Li's Banner Area End Here -->
                    <!-- shop-top-bar start -->
                    <div class="shop-top-bar mt-30">
                        <div class="shop-bar-inner">
                            <div class="product-view-mode">
                                <!-- shop-item-filter-list start -->
                                <ul class="nav shop-item-filter-list" role="tablist">
                                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="grid-view"
                                            href="#grid-view"><i class="fa fa-th"></i></a></li>
                                    <li class="active" role="presentation"><a aria-selected="true" class="active show"
                                            data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i
                                                class="fa fa-th-list"></i></a></li>
                                </ul>
                                <!-- shop-item-filter-list end -->
                            </div>

                        </div>
                        <!-- product-select-box start -->

                    </div>
                    <!-- shop-top-bar end -->
                    <!-- shop-products-wrapper start -->
                    <div class="shop-products-wrapper">
                        <div class="tab-content">
                            <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                                <div class="product-area shop-product-area">
                                    <div class="row">
                                        <!-- holds nornal view -->

                                        {% for product in products|slice:":20" %}
                                        <div class="col-6 col-lg-3">
                                            <!-- single-product-wrap start -->
                                            <div class="single-product-wrap">
                                                <div class="product-image">
                                                    <a href="{{product.get_absolute_url}}">
                                                        <img src="{{product.image.url}}" alt="{{product.name|truncatechars:20}}">
                                                    </a>
                                                    <!-- <span class="sticker">New</span> -->
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h5 class="manufacturer">
                                                                <a
                                                                    href="{% url 'categories' product.category.id  %}">{{product.category.name|truncatechars:20}}</a>
                                                            </h5>
                                                           
                                                        </div>
                                                        <div class="text-center">
                                                            <h4><a class="product_name"
                                                                    href="{{product.get_absolute_url}}">{{product.name|truncatechars:20}}</a></h4>
                                                            <div class="price-box">
                                                                <span class="new-price"><b>GH₵:
                                                                        {{product.price|intcomma}}</b></span>
                                                                        {% if product.discount %}
                                                                        <small class=""><del>GH₵ {{product.discount|intcomma}}</del></small>
                                        
                                                                        {% endif %}
                                                            </div>
                                                        </div>
                                                    </div> <br> <br>
                                                    <div class="add-actions">
                                                        <form class="productname" method="post" id={{product.id}}>

                                                            <button class="btn btn-md" id="{{product.id}}btn"
                                                                style="background-color: #4654A3;color: white;"
                                                                class=""><i class="icon-bag"></i>Add To
                                                                Cart </button>
                                                            

                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single-product-wrap end -->
                                        </div>
                                        <!-- holds normal view  end -->

                                        {% endfor %}



                                    </div>
                                </div>
                            </div>
                            <div id="list-view" class="tab-pane fade product-list-view " role="tabpanel">
                                <div class="row">

                                    <div class="">
                                        <!-- straight display start -->
                                        <div class="row product-layout-list">
                                            {% for product in products|slice:":8" %}
                                            <div class="col-lg-3 col-md-5 ">
                                                <div class="product-image">
                                                    <a href="{{ product.get_absolute_url}}">
                                                        <img src="{{product.image.url}}" alt="{{product.name}}">
                                                    </a>  
                                                    <!-- <span class="sticker">New</span> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-7">
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h5 class="manufacturer">
                                                                <a
                                                                    href="{% url 'categories' product.category.id  %}">{{product.category.name|truncatewords:20}}</a>

                                                            </h5>
                                                            <div class="rating-box">
                                                                <ul class="rating">
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li class="no-star"><i class="fa fa-star-o"></i>
                                                                    </li>
                                                                    <li class="no-star"><i class="fa fa-star-o"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <h4><a class="product_name"
                                                                href="{{product.get_absolute_url}}">{{product.name|truncatewords:50}}</a>
                                                        </h4>
                                                        <div class="price-box">
                                                            <span class="new-price product-pric">GH₵:
                                                                {{product.price|intcomma}}</span>
                                                                {% if product.discount %}
                                                                <small class=""><del>GH₵ {{product.discount|intcomma}}</del></small>
                                
                                                                {% endif %}
                                                                
                                                        </div>
                                                    
                                                        <div class="product-desc">
                                                            <p>
                                                                <span>{{product.description|safe|truncatewords:50}}
                                                                </span>
                                                            </p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="shop-add-action mb-xs-30">
                                                    <form class="productname" method="post" id={{product.id}}>

                                                        <button class="btn btn-md" id="{{product.id}}btn"
                                                            style="background-color: #4654A3;color: white;"
                                                            class=""><i class="icon-bag"></i>Add To
                                                            Cart </button>
                                                        <a href="{{product.get_absolute_url}}" title="quick view" class="btn"
                                                            style="background-color: #4654A3;color: white;">View
                                                            Detail</a>

                                                    </form>

                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <!-- straight display end-->

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- shop-products-wrapper end -->
                </div>






            </div>
        </div>
    </div>
    <!-- Content Wraper Area End Here -->







    <!-- wrapper end -->

    <!-- wrapper end -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon-star " style="color: #4654A3; border-color: #4654A3;"></i>

                    <div class="feature-box-content">
                        <h3>Dedicated Service</h3>
                        <p>Consult our specialists for help with an order, customization, or design advice</p>
                        <!-- <a href="#" class="btn btn-sm btn-outline-dark">Get in touch</a> -->
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon-reply" style="color: #4654A3;border-color: #4654A3;"></i>

                    <div class="feature-box-content">
                        <h3>Free returns</h3>
                        <p>We stand behind our goods and services and want you to be satisfied with them.</p>
                        <!-- <a href="#" class="btn btn-sm btn-outline-dark">Return Policy</a> -->
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon-paper-plane" style="color: #4654A3; border-color: #4654A3;"></i>

                    <div class="feature-box-content">
                        <h3>international shipping</h3>
                        <p>Currently over 50 countries qualify for express international shipping.</p>
                        <!-- <a href="#" class="btn btn-sm btn-outline-dark">Learn More</a> -->
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-1"></div><!-- margin -->

    <div class="promo-section" style="background-image: url('{% static "images/promo-bg.jpg" %}')">
        <div class="container">
            <h3>the perfect gift</h3>
            <h4>Check off your list with our best gifts</h4>
            <!-- <a href="#" class="btn btn-primary">Shop Now</a> -->
        </div><!-- End .container -->
    </div><!-- End .promo-section -->

    <div class="partners-container">
        <div class="container">
            <div class="partners-carousel owl-carousel owl-theme">
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/1.png' %}" alt="{% static 'images/logos/1.png' %}">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/2.png' %}" alt="{% static 'images/logos/2.png' %}">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/3.png' %}" alt="{% static 'images/logos/3.png' %}">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/4.png' %}" alt="{% static 'images/logos/4.png' %}">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/5.png' %}" alt="{% static 'images/logos/5.png' %}">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/2.png' %}" alt="{% static 'images/logos/2.png' %}">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/1.png' %}" alt="{% static 'images/logos/1.png' %}">
                </a>
            </div><!-- End .partners-carousel -->
        </div><!-- End .container -->
    </div><!-- End .partners-container -->

    {% if resent_view_products %}


    <div class="container">
        <h3 class="h4 title">Recently viewed items</h3>
        <div class="row">


            {% for resent_view_products in resent_view_products|slice:'0:8' %}


            <div class="col-6 col-lg-3">
                <div class="product-column">


                    <div class="product-default left-details product-widget mb-3">
                        <figure>
                            <a href="{{resent_view_products.get_absolute_url}}">
                                <img src="{{resent_view_products.image.url}}">
                            </a>
                        </figure>
                        <div class="product-details">
                            <h2 class="product-title">
                                <a href="{{resent_view_products.get_absolute_url}}">{{resent_view_products.name|truncatechars:20}}</a>
                            </h2>
                            <div class="ratings-container">
                                <div class="product-ratings">
                                    <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                    <span class="tooltiptext tooltip-top"></span>
                                </div><!-- End .product-ratings -->
                            </div><!-- End .product-container -->
                            <div class="price-box">
                                <span class="product-price">GH₵ {{resent_view_products.price|intcomma}}</span>
                                {% if product.discount %}
                                <small class=""><del>GH₵ {{product.discount|intcomma}}</del></small>

                                {% endif %}

                            </div><!-- End .price-box -->
                        </div><!-- End .product-details -->
                    </div>


                </div><!-- End .product-column -->
            </div><!-- End .col-lg-3 -->
            {% endfor %}
        </div>

    </div>


    {% endif %}

    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->








<style>
    #product-id {
        display: none;
        visibility: hidden;
    }

    body {
        background: #fff !important;
        color: #444;
        font-family: "Open Sans", sans-serif;
    }
</style>


<script>



    $('.productname').on('submit', function (e) {

        e.preventDefault();

        // console.log(this.id)
        product_id = this.id

        url = '/add/' + product_id + '/'

        // console.log(url)
        $.ajax({
            type: 'POST',
            url: url,

            data: {

                product: product_id,
                quantity: 1,
                // update_quantity:$('#update_quantity').val(),

                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

            },
            beforeSend: function () {

                // document.getElementById(product_id+"btn").textContent='addind to cart'
                $('#' + product_id + 'btn').text('adding to cart..').addClass('icon-spinner');

            },

            success: function () {

                getcartsize()


                // $('#').text('saved to cart').fadeIn('fast')
                // $('#'+product_id+'btn').text('saved to cart').slideUp( 300 ).delay( 800 ).fadeIn( 400 );
                $('#' + product_id + 'btn').text('Add To Cart').addClass('icon-check')

            },
            error: function () {
                $('#' + product_id + 'btn').text('error not saved').slideUp(300).delay(800).fadeIn(400);
                // $('#'+product_id+'btn').text('Add To Cart')




            }

        })
    })




</script>

<style>

</style>

{% endblock %}