{% extends 'header1.html' %}
{% load static %}
{% block content %}

{% load humanize %}

<script src="{% static 'js/jquery.min.js' %}"></script>
 

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								{% if product.image.url %}
								<img src="{{product.image.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image1.url %}
								<img src="{{product.image1.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image2.url %}
								<img src="{{product.image2.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image3.url %}
								<img src="{{product.image3.url}}" alt="">

								{% endif %}
							</div>
						</div>
						<div id="product-view">
							<div class="product-view">
								{% if product.image1.url %}
								<img src="{{product.image.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image1.url %}
								<img src="{{product.image1.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image2.url %}
								<img src="{{product.image2.url}}" alt="">

								{% endif %}
							</div>
							<div class="product-view">
								{% if product.image3.url %}
								<img src="{{product.image3.url}}" alt="">

								{% endif %}
							</div>
						</div>
                    </div>
                   
					<div class="col-md-6">
						<div class="product-body">
							<div class="product-label">
								<span>New</span>
								<span class="sale">-20%</span>
							</div>
							<h2 id="product" class="product-name">{{product.name}}</h2>
							<h3 class="product-price">GH¢ {{product.price|intcomma}}<del class="product-old-price "> GH¢ 45.00</del></h3>
							
							<p><strong>Availability:</strong> {{available|yesno:"No,Yes" }}</p>
							<!-- <p><strong>Brand:</strong> E-SHOP</p> -->
							
						
							<form id="cart-form" method="POST">
									
								<div class="form-group product-btns">
									<div class="qty-input">
										<span class="text-uppercase">QTY: </span>
                                        <input class="input quantity" type="number" id="quantity" required>
                                        <button id="addtocart" class="primary-btn add-to-cart my-4 mb-4"><i class="fa fa-shopping-cart"></i> Add to Cart</button> <br>
                                            <b class="btn mb-4 text-light btn-block" style="background-color: #CE7D0E;" id="saved-message"></b>
                                    </div>  
                                    
                                    <p>{{product.description|safe}}</p>
								 <h3><a id="checkout" href="{% url 'orders:checkout' %}"></a></h3>
                                </div>
								</form>
								</div>
								<ul id="modelId" style="justify-content: center;">
									<li>
										<button  style="background-color: #4654A3;color: white;" class="main-btn"><a class="text-light" href="{% url 'orders:checkout' %}">CONTINEU SHOPPING<i class="fa fa-arrow-circle-right"></i> </a></button>
									<button  style="background-color: #4654A3;color: white;" class="main-btn"><a class="text-light" href="{% url 'cart:cart_detail' %}">VIEW CART &  CHECKOUT <i class="fa fa-shopping-cart"></i> </a></button>
								
									</li>
								</ul>
								
								
				
						
						</div>
					
			

				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Picked For You</h2>
					</div>
				</div>
				<!-- section title -->

				{% for popular in popular|slice:'0:8' %}
				  
				
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<a href="{{popular.get_absolute_url}}">
						<div class="product-thumb">
							<div class="product-label">
								<span style="background-color: #4654A3" class="sale text-light">-20%</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="{{popular.image.url}}" alt="">
						</div>
						<div class="product-body">
							<h3  class="product-price"> GH¢ {{popular.price}} <del class="product-old-price">$45.00</del></h3>
							<div class="product-rating">
								<!-- <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i> -->
							</div>
							<h2 class="product-name">{{popular.name}}</h2>
						</a>
							<div class="product-btns">
								<a  style="background-color: #4654A3;color: white;" class="primary-btn btn-block  add-to-cart text-center" href="{{products.get_absolute_url}}">View Details</a>

								<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								 -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endfor %}
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->



<style>
    #id_quantity{
        height: 35px;
        width: 80px;
	}
	#id_quantity:hover{
		width: 100px;

	}

	.main-btn{
		margin-top: 1em;
	
	
	}
	
</style>



<script>
$('#modelId,#saved-message').fadeOut('fast')

	// add to cart

	$('#cart-form').on('submit',function(e){
		
		e.preventDefault();
       
        product_id = '{{product.id}}'

     
      url ='/add/'+product_id+'/'
	
		$.ajax({
			type:'POST',
			url:url,
		
			data:{
			 
                product:product_id,
				quantity:$('#quantity').val(),
				// update_quantity:$('#update_quantity').val(),
			 
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
		
			},
		beforeSend:function(){
            $('#saved-message').text('adding to cart...')
		

		},
		
			success:function(){
				// location.reload()
				// $('#checkout').fadeIn().text('checkout')
                old_quantity = "{{cart|length}}"
                // alert(old_quantity)
				new_quantity = $('.quantity').val()
                new_value= parseInt(old_quantity)+parseInt(new_quantity)
                console.log('old_quantity', old_quantity,)
                $('.cart-count').text(new_value)
                

                $('#quantity').val('')

                $('#saved-message').text('added to cart...')
                $('#modelId,#saved-message').fadeIn('fast')
                $('#saved-message').fadeOut(4002)
				console.log('saved')

			},
			error:function(){
			alert('error')
			}
	
		})
	})
	
		</script>
    
    

{% endblock %}