{% extends 'header1.html' %}
{% load static %}

{% block content %}

<script src="https://use.fontawesome.com/30c21ac8e0.js"></script>


<div class="container" style="border: 1px solid #4654A3;">

    <div class="row">
        <div class="col-sm-12">
            <h4 class="my-4">Return Policy</h4>
        </div>
    </div><br>
    <h4> Returns & Refunds for xtayconnectafrica.com</h4>
    <br>
    <div class="row">
        <div class="col-sm-12">

            <div class="tab-content">
                <div id="tab1" class="tab-pane fade show active">
                    <div class="accordion">
                        <div class="card"  style="background-color:whitesmoke">
                            <div class="card-header" id="infraOne">
                                <a href="#collapseOne" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    <p class="mb-0">
                                        What products can I return?
                                    </p>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="infraOne" data-parent="#accordion">
                                <div class="card-body">
                                  <p>
                                    All products sold on xtayconnectafrica.com can be returned for free provided certain
                                    conditions are met such as:
                                    Item state,
                                    Full attachments and accessories availability,
                                    First level investigation results match your return reason
                                    Etc.
                                    However, note that we have several restrictions on some product categories due to
                                    their sensitivity.
                                  </p>
                                </div>
                            </div>
                        </div><!-- close card-->
                        <div class="card">
                            <div class="card-header" id="infraTwo">
                                <a href="#collapseTwo" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0">What are the conditions for my return?</p>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="infraTwo" data-parent="#accordion">
                                <div class="card-body">
                                  <p>
                                    For your purchase to be eligible for return, you shall be able to return it in 5
                                    days after delivery provided that: 
                                  </p>
                                    Condition A: <br>
                                   <p>
                                    If the product is not as you expected/not as advertised.
                                    If you don’t want the product anymore. Then the product must be returned unused, in
                                    its original packaging and with all seals & tags intact.
                                   </p>
                                    Condition B: <br>
                                   <p>
                                    If the product is damaged on arrival, defective on arrival or counterfeit.
                                    If your product is the wrong size. Then the product must be returned in its
                                    original packaging. All accessories, tags, and free gifts must also be returned.
                                   </p>
                                    How can I return my product?  <br>
                                
                                    Step 1: Log your return request 
                                    
                                    1.Contact our customer support agents<br>
                                   </p>
                                   <p>
                                    2.A “Request a return form” will be provided to you. Complete the full return form
                                    by giving exact and detailed information.
                                    Caution: Providing wrong information might result in your return rejection or refund
                                    to a wrong recipient, and xtayconnectafrica.com’s shall not be responsible.
                                   </p>
                                    
                                        Step 2: Pack your product
                                       <p>
                                        Pack your product according to the return conditions.
                                        Include all tags, accessories or free gifts you received
                                       </p>
                                
                                        <br>
                                        Step 3: Return your product <br>
                                       <p>
                                        1.If you selected a drop-off, please drop your package at the chosen place
                                        following the given instructions. Note that the sooner you drop your item, the
                                        sooner your refund will be processed.
                                       </p>
                                    
                                       <p>
                                        2.If you selected a return pickup (provided you were eligible for that return
                                        option), we will contact you to arrange a pickup time.
                                       </p>
                                       
                                    

                                </div>
                            </div>
                        </div><!-- card-->
                        <div class="card">
                            <div class="card-header" id="infraThree">
                                <a href="#collapseThree" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0">How long do I have to initiate my return?</p>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="infraThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Dependent on your eligibility to return product, you will be able to return it in 5
                                    days after delivery. In other terms, if you received your order on the 5th, then you
                                    have until the 10th to request a return on any of the items received.
                                </div>
                            </div>
                        </div><!-- card-->

                        <div class="card">
                            <div class="card-header" id="infrafour">
                                <a href="#collapsefour" class="collapsed" data-toggle="collapse"
                                    data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                    <p class="mb-0">In what condition am I refunded?</p>
                                </a>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="infrafour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    A refund can be expected in any of the below situations:
                                    You canceled a prepaid order <br>
                                    You rejected a prepaid order <br>
                                    You returned an eligible item within 5 days as per xtayconnectafrica.com’s return
                                    policy
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infrafive">
                                <a href="#collapsefive" class="collapsed" data-toggle="collapse"
                                    data-target="#collapsefive" aria-expanded="false" aria-controls="infrafive">
                                    <p class="mb-0">How will I get my refund?</p>
                                </a>
                            </div>
                            <div id="collapsefive" class="collapse" aria-labelledby="collapsefive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Basically, refunds are done using the same payment method used when placing the
                                    order (in case of prepaid orders). However, in the event that you request for a
                                    return, the refund method shall be as per the refund method you selected while
                                    making your purchase.
                                </div>
                            </div>
                        </div><!-- card-->

                        <div class="card">
                            <div class="card-header" id="infrasix">
                                <a href="#collapsesix" class="collapsed" data-toggle="collapse"
                                    data-target="#collapsesix" aria-expanded="false" aria-controls="infrasix">
                                    <p class="mb-0">How long would it take to get my refund?</p>
                                </a>
                            </div>
                            <div id="collapsesix" class="collapse" aria-labelledby="collapsesix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Once your item has been retrieved, it shouldn’t take more than 10 days to receive
                                    your refund, provided the return matches our returns conditions.
                                    Also, to prevent refund delay: 
                                  <p>
                                    1.Create your return request soon enough with full necessary information (Return 
                                    reasons, phone number, refund method, etc.) 
                                  </p>
                                   <p>
                                    2.Drop your item as soon as possible
                                   </p>
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra7">
                                <a href="#collapse7" class="collapsed" data-toggle="collapse" data-target="#collapse7"
                                    aria-expanded="false" aria-controls="infra7">
                                    <p class="mb-0">Do I have to pay for shipping charges when I return a product?</p>
                                </a>
                            </div>
                            <div id="collapse7" class="collapse" aria-labelledby="collapse7" data-parent="#accordion">
                                <div class="card-body">
                                    Returning an item is free! As soon as you’ve returned the item,
                                    xtayconnectafrica.com will take care of the rest.
                                </div>
                            </div>
                        </div><!-- card-->



                        <div class="card">
                            <div class="card-header" id="infra8">
                                <a href="#collapse8" class="collapsed" data-toggle="collapse" data-target="#collapse8"
                                    aria-expanded="false" aria-controls="infra8">
                                    <p class="mb-0">Do I have to return all the products in my order?</p>
                                </a>
                            </div>
                            <div id="collapse8" class="collapse" aria-labelledby="collapse8" data-parent="#accordion">
                                <div class="card-body">
                                    Of course, not!
                                    You do not have to return your whole order; you can return certain product(s), but
                                    with their respective accessories or labels, though.
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra9">
                                <a href="#collapse9" class="collapsed" data-toggle="collapse" data-target="#collapse9"
                                    aria-expanded="false" aria-controls="infra9">
                                    <p class="mb-0">What if my returned item is not cleared for refund?</p>
                                </a>
                            </div>
                            <div id="collapse9" class="collapse" aria-labelledby="collapse9" data-parent="#accordion">
                                <div class="card-body">
                                   <p>
                                    If your return is not cleared for a refund, then we will call you to explain the
                                    issue and send the item(s) back to you. We will arrange the delivery or drop-off of
                                    the item.
                                   </p>
                                   <p>
                                    Please note that after 3 attempts to return the product to you, we will cancel the
                                    return procedure and will keep the product with us for a maximum of 60 days.
                                   </p>
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra10">
                                <a href="#collapse10" class="collapsed" data-toggle="collapse" data-target="#collapse10"
                                    aria-expanded="false" aria-controls="infra10">
                                    <p class="mb-0">Can I return my items after the timeline to return has expired?</p>
                                </a>
                            </div>
                            <div id="collapse10" class="collapse" aria-labelledby="collapse10" data-parent="#accordion">
                                <div class="card-body">
                                    Sorry, returns are not possible after xtayconnectafrica.com’s 5 days return period.
                                    However, if you experienced some issues after xtayconnectafrica.com’s return period
                                    has elapsed, you can claim your warranty (if applicable) from the brand’s authorized
                                    service center.
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra11">
                                <a href="#collapse11" class="collapsed" data-toggle="collapse" data-target="#collapse11"
                                    aria-expanded="false" aria-controls="infra11">
                                    <p class="mb-0">I haven’t received my refund amount in my bank account yet. What do
                                        I do?</p>
                                </a>
                            </div>
                            <div id="collapse11" class="collapse" aria-labelledby="collapse11" data-parent="#accordion">
                                <div class="card-body">
                                    Please rest assured that your account will be credited within 7 to 10 working days
                                    after the acceptance of your return. If this does not happen, do not hesitate
                                    to contact us.
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra12">
                                <a href="#collapse12" class="collapsed" data-toggle="collapse" data-target="#collapse12"
                                    aria-expanded="false" aria-controls="infra12">
                                    <p class="mb-0">I have requested for my product to be returned. What happens now?
                                    </p>
                                </a>
                            </div>
                            <div id="collapse12" class="collapse" aria-labelledby="collapse12" data-parent="#accordion">
                                <div class="card-body">
                                   <p>
                                    1.Provided that you are within Accra and Tema and you specifically chose the
                                    “pickup” return option, we’ll schedule for it to be picked up from your address. <br>
                                    Requests received before 10 am might be picked up on the same day or the next
                                    business day.
                                    Requests received after 2 pm will be picked up on the next two business days.
                                   </p>

                                  <p>
                                    2.If you are outside Accra and Tema, you will have to drop-off the item at one of
                                    the service centers of our logistics partner. The service center shall be the one
                                    you selected while submitting your purchase request from your Account.
                                  </p>

                                   <p>
                                    Once your item has been retrieved, expect a duration of 10 days to receive your
                                    refund, if the return meets our conditions for return.
                                   </p>
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra13">
                                <a href="#collapse13" class="collapsed" data-toggle="collapse" data-target="#collapse13"
                                    aria-expanded="false" aria-controls="infra13">
                                    <p class="mb-0">Do I have to return the free gift when I return a product?</p>
                                </a>
                            </div>
                            <div id="collapse13" class="collapse" aria-labelledby="collapse13" data-parent="#accordion">
                                <div class="card-body">
                                    Yes, any free gift must also be returned as it’s likely to be part of the package
                                    that will have to be returned to its supplier.
                                </div>
                            </div>
                        </div><!-- card-->


                        <div class="card">
                            <div class="card-header" id="infra14">
                                <a href="#collapse14" class="collapsed" data-toggle="collapse" data-target="#collapse14"
                                    aria-expanded="false" aria-controls="infra14">
                                    <p class="mb-0">What happens when my returned product is received back at
                                        xtayconnectafrica.com’s Warehouse?</p>
                                </a>
                            </div>
                            <div id="collapse14" class="collapse" aria-labelledby="collapse14" data-parent="#accordion">
                                <div class="card-body">
                                    Once your product is received, we carry out the necessary checks to ensure that the
                                    returned item fulfills the required conditions. Hence, expect an overall duration of
                                    10 days to receive your refund if the return meets our conditions for return.
                                </div>
                            </div>

                        </div><!-- card-->
                        <!-- <p class="section-title text-capitalize">you can read about  our terms and conditions<a    style="color:#4654A3;" class='mx-4' href="/terms_and_conditions">here</a></p> -->


                    </div><!-- accordion-->
                </div><!-- tab 1-->





            </div><!-- tab content-->
        </div>
    </div>
</div>


<style>
    ul.nav.nav-tabs>li {
        display: inline-block;
        line-height: 50px;
        height: 100%;
        text-transform: uppercase;
    }

    ul.nav.nav-tabs>li a {
        display: block;
        padding: 15px;
        color: #282425 !important;

    }



  

    .card-header {
        background-color: rgb(245, 245, 245, 0.3) !important;
        border-radius: 0 !important;
    }

    .card {
        border-radius: 0 !important;
    }

    .card>.card-header a::before {
        font-family: fontawesome;
        content: "\f067 ";
        color: #282425;
        float: right;
        margin-right: 15px;
        font-weight: 400;
        position: absolute;
        right: 0;
    }
</style>

{% endblock %}