{% extends 'header1.html' %}
{% load thumbnail %}

{% load static %}

{% block content %}
<main class="main">
   
     
           
                <div class="container">
                    <div class="row">
                    {% for product in products %}
                    <div class="col-md-3">
                                             
                        <div class="product-default">
                            <figure>
                               
                                <a href="{{product.get_absolute_url}}">
                                    <img src="{{product.image.url}}">`
                                </a>
                            </figure>
                            <div class="product-details">
                                <div class="ratings-container">
                                    <div class="product-ratings">
                                        <span class="ratings" style="width:400"></span><!-- End .ratings -->
                                    </div><!-- End .product-ratings -->
                                </div><!-- End .product-container -->
                              
                                <h2 class="product-title">
                                    <a id="product-name" href="{{product.get_absolute_url}}">{{product.name}}</a>
                                    <h6 id="product-id">{{product.id}}</h6>
                                </h2>
                                <div class="price-box">
                                    <span class="product-price">GH₵ {{product.price}}</span>
                                </div><!-- End .price-box -->
                                <div class="product-action">
                                    <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
                                    <button  style="background-color: #4654A3;color: white;" class="btn-icon btn-add-cart" data-toggle="modal"
                                        data-target="#addCartModal"><i class="icon-bag"></i>ADD TO CART</button>
                                    <a href="{{product.get_absolute_url}}" class="btn-quickview" title="Quick View"><i
                                            class="fas fa-external-link-alt"></i></a>
                                </div>
                            </div><!-- End .product-details -->
                        </div>
                     
                      
                 
                      
                </div>
                    {% empty %}
                    <h4 class="mx-4 text-muted">no result found</h4>
                    {% endfor %}
                    </div>
                </div><!-- End .container -->
            
         
    
  
   
    

    <div class="mb-1"></div><!-- margin -->

    <div class="promo-section" style="background-image: url('{% static "images/promo-bg.jpg" %}')">
        <div class="container">
            <h3>the perfect gift</h3>
            <h4>Check off your list with our best gifts</h4>
            <a href="#" class="btn btn-primary">Shop Now</a>
        </div><!-- End .container -->
    </div><!-- End .promo-section -->

    <div class="partners-container">
        <div class="container">
            <div class="partners-carousel owl-carousel owl-theme">
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/1.png' %}" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/2.png' %}" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/3.png' %}" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/4.png' %}" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/5.png' %}" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/2.png' %}" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="{% static 'images/logos/1.png' %}" alt="logo">
                </a>
            </div><!-- End .partners-carousel -->
        </div><!-- End .container -->
    </div><!-- End .partners-container -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">Picked For You</h2>
					</div>
				</div>
				<!-- section title -->

				{% for popular in popular|slice:'0:8' %}
				  
				
				<!-- Product Single -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="product product-single">
						<a href="{{popular.get_absolute_url}}">
						<div class="product-thumb">
							<div class="product-label">
								<span style="background-color: #4654A3" class="sale text-light">-20%</span>
							</div>
							<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
							<img src="{{popular.image.url}}" alt="">
						</div>
						<div class="product-body">
							<h3  class="product-price"> GH¢ {{popular.price}} <del class="product-old-price">$45.00</del></h3>
							<div class="product-rating">
								<!-- <i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o empty"></i> -->
							</div>
							<h2 class="product-name">{{popular.name}}</h2>
						</a>
							<div class="product-btns">
								<a  style="background-color: #4654A3;color: white;" class="primary-btn btn-block  add-to-cart text-center" href="{{products.get_absolute_url}}">View Details</a>

								<!-- <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
								<button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
								<button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								 -->
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Single -->
				{% endfor %}
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->


    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->

<style>
    #product-id{
        display: none;
        visibility: hidden;
    }
</style>
{% endblock %}