{% extends 'header1.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/outline.css' %}">
<script src="{% static 'js/DocumentOutline.js' %}"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">


                    <h3 class="card-title" style="color:#4654A3">Terms & conditions of use</h3>
                    <p> Welcome to xtayconnectafrica.com, please carefully read these terms and conditions before you
                        proceed to use this website.
                    If you do not agree with these terms and conditions of use, please do not use this website.</p>
                    <div class="">
                        <h4>1. GENERAL</h4>
                        <h4>Copyright</h4>
                        <p>
                            Advertisers grant xtayconnectafrica.com and xtayconnect a perpetual, royalty-free, irrevocable,
                        non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create
                        derivative works from and distribute such Content or incorporate such Content into any form,
                        medium, or technology now known or later developed.
                        The material (including the Content, and any other content, software, or services) contained on
                        xtayconnectafrica.com are the property of xtayconnectafrica, its subsidiaries, affiliates,
                        and/or third-party licensors. Any intellectual property rights, such as copyright, trademarks,
                        service marks, trade names, and other distinguishing brands on the Web Site are the property of
                        xtayconnectafrica. To be clear: No material on this site may be copied, reproduced, republished,
                        installed, posted, transmitted, stored, or distributed without written permission from
                        xtayconnectafrica.
                        </p>
                       <h4> 1.1 WaterMarks</h4>
                       <p>
                        All images on xtayconnectafrica.com are watermarked, which prevents the images to be used for
                        other purposes, without the consent of the advertiser.
                        1.2 Safety and images:
                        xtayconnectafrica.com and xtayconnectafrica reserves the right to change the title of the
                        Content, for editorial purposes. xtayconnectafrica.com and xtayconnectafrica reserves the right
                        not to publish images that are irrelevant or images that violate xtayconnectafrica.com and
                        xtayconnectafrica rules.
                       </p>
                        <h4>1.3 Personal:</h4>
                        <p>
                            xtayconnectafrica.com and xtayconnectafrica rules has the right to cooperate with authorities in
                        the case any Content violates the law. The identity of advertisers, users, or buyers may be
                        determined, for example by an ISP. IP addresses may also be registered in order to ensure
                        compliance with the terms and conditions.
                        </p>

                        <h4>2. Privacy</h4>
                        <p>
                            xtayconnectafrica.com and xtayconnectafrica will collect information from Users and
                            Advertisers.
                            It is a condition of use of the xtayconnectafrica.com that each User and advertiser consents
                            and
                            authorizes xtayconnectafrica.com and xtayconnectafrica to collect and use this information.
                            xtayconnectafrica.com and xtayconnectafrica also reserves the right to disclose it to
                            Company
                            Affiliates and any other person for the purposes of administering, supporting, and
                            maintaining
                            xtayconnectafrica.com, as well as for improving xtayconnectafrica.com, for example by using
                            the
                            information for research, marketing, product development, and planning.
                        </p>

                        <h4>3. Cookies</h4>
                        <p>
                            This site uses cookies, which means that you must have cookies enabled on your computer in
                            order
                            for all functionality on this site to work properly. A cookie is a small data file that is
                            written to your hard drive when you visit certain Web sites. Cookie files contain certain
                            information, such as a random number user ID that the site assigns to a visitor to track the
                            pages visited. A cookie cannot read data off your hard disk or read cookie files created by
                            other sites. Cookies, by themselves, cannot be used to find out the identity of any user.
                        </p>

                        <h4>4. Email address of users:</h4>
                        <p>
                            Users are required to submit a valid email address, before they are allowed to post
                            advertisements. The email address of the User will be publicly displayed, and other users
                            are
                            permitted to send email to the User through xtayconnectafrica.com.
                        <h4>5. Site availability:</h4>
                        <p>
                            xtayconnectafrica.com and xtayconnectafrica does not guarantee continuous or secure access
                            to
                            the Web Site. The Web Site is provided “as is” and as and when available.
                        </p>
                        </p>
                        <h4>6. Links to third party websites:</h4>
                        <p>
                            xtayconnectafrica.com may contain links or references to other websites (‘Third Party
                            Websites’). xtayconnectafrica.com and xtayconnectafrica shall not be responsible for the
                            contents in Third Party Websites. Third Party Websites are not investigated or monitored. In
                            the
                            event the user decides to leave xtayconnectafrica.com and access Third Party Sites, the user
                            does so at his/her own risk.
                        </p>
                        <h4>7. Paid posting and services</h4>
                        <p>
                            Some content and services of xtayconnectafrica.com require payment, including but not
                            limited
                            to, membership packages, posting of ads in select categories.
                            Advertisers and Users may be required to transmit Paid Content information through a
                            third-party
                            service provider, which may be governed by its own terms of use. Linking to any third-party
                            service providers is at the Users’ and Advertisers’ own risk and xtayconnectafrica.com
                            disclaims
                            all liability related thereto. Under no circumstances shall xtayconnectafrica.com be obliged
                            to
                            refund any payments made in respect to Paid Content.
                        </p>
                        <h4>8. POSTING AGENTS:</h4>
                        <p>
                            As used herein, the term “Posting Agent” refers to a third-party agent, service or
                            intermediary
                            that offers to post Content to the Service on behalf of others. xtayconnectafrica.com
                            prohibits
                            the use of Posting Agents, directly or indirectly, without the express written permission of
                            xtayconnectafrica.com. In addition, Posting Agents are not permitted to post Content on
                            behalf
                            of others, directly or indirectly, or otherwise access the Service in order to post Content
                            on
                            behalf of others, except with express written permission or license from
                            xtayconnectafrica.com.
                        </p>
                        <h4>9. Memberships</h4>
                        <p>
                            As part of a membership package, xtayconnectafrica.com will create a Shop on behalf of the
                            user.
                            A Shop is a dedicated webpage on xtayconnectafrica.com, maintained by xtayconnectafrica.com,
                            with content provided by the user. xtayconnectafrica.com has the right to any content added
                            to
                            the Shop by the user and has the right to remove or not publish the content if it violates
                            any
                            aspect of the Terms and Conditions.
                            xtayconnectafrica.com reserves the right to modify or change membership packages, including
                            the
                            price and the contents of the membership package.
                            xtayconnectafrica.com is not obligated to refund money or services if a membership package
                            is
                            cancelled early, for any reason.
                            By listing an item or service for sale on xtayconnectafrica.com, Sellers undertake the
                            following:
                            That they have the lawful right and necessary registrations and license to sell the
                            advertised
                            item
                            To provide for the delivery item(s) that match the order received in terms of quality and
                            quantity, as advertised in the listing
                            To appropriately pack and prepare the item for xtayconnectafrica.com does not provide
                            installation or dismantling services
                            Not to encourage Buyers who have placed orders using “Buy Now” to complete the purchase
                            outside
                            of xtayconnectafrica.com
                            To accept payment of the item price, minus the service charge, within a reasonable
                            timeframe
                            upon the successful sale of an item
                            To pay a return fee for the return of an item when a Buyer is unwilling or unavailable to
                            purchase the item.
                            To pay any taxes due if and when the item is sold.
                        </p>
                        <h4>10.  Disclaimer</h4>
                        <p>
                            xtayconnectafrica.com and xtayconnectafrica assume no responsibility what so ever for the
                            use of
                            Xtayconnectafrica.com and disclaims all responsibility for any injury, claim, liability, or
                            damage of any kind resulting from or arising out of or any way related to (a) any errors on
                            Xtayconnectafrica.com or the Content, including but not limited to technical errors and
                            typographical errors, (b) any third party web sites or content directly or indirectly
                            accessed
                            through links in Xtayconnectafrica.com , (c) the unavailability of xtayconnectafrica.com,
                            (d)
                            your use of Xtayconnectafrica.com or the Content, or (e) your use of any equipment (or
                            software)
                            in connection with Xtayconnectafrica.com
                        </p>
                        <h4>11. Indemnity</h4>
                        Advertisers and users agree to indemnify xtayconnectafrica.com and xtayconnectafrica as well as
                        its officers, directors, employees, agents, from and against all losses, expenses, damages, and
                        costs, including attorney’s fees, resulting from any violation of this Terms and Conditions
                        (including negligent or wrongful conduct).
                        <h4>12.  Modifications</h4>
                        <p>
                            xtayconnectafrica.com and xtayconnectafrica reserves the right to modify these Terms and
                            Conditions. Such modifications shall be effective immediately upon posting on
                            xtayconnectafrica.com. You are responsible for the reviewing of such modifications. Your
                            continued access or use of xtayconnectafrica.com shall be deemed your acceptance of the
                            modified
                            terms and conditions.
                        </p>
                        <h4>13. Governing law:</h4>
                        <p>
                            xtayconnectafrica.com is operated under the laws and regulations of Ghana. Advertisers and
                            users
                            agree that Ghanaian courts, with the district court of Ghana as the court of the first
                            instance,
                            will have jurisdiction over any dispute or claim relating to the use of
                            xtayconnectafrica.com.
                        </p>
                        <h4>14. NO SPAM POLICY</h4>
                        <p>
                            You understand and agree that sending unsolicited email advertisements or other unsolicited
                            communications to xtayconnectafrica.com email addresses or through xtayconnectafrica.com
                            computer systems are expressly prohibited by these Terms. You acknowledge and agree that
                            from
                            time-to-time xtayconnectafrica.com may monitor email usage using human monitors or automated
                            software to flag certain words associated with spam or scams in emails that are sent between
                            one
                            user to another in the xtayconnectafrica.com ’s e-mail system. Any communication between
                            yourself and any other user utilizing the communication features available on the Service
                            and
                            the Website may be used only in accordance with the Terms. Any unauthorized use of
                            xtayconnectafrica.com’s computer systems is a violation of these Terms
                        </p>
                        <h4>15. DEALINGS WITH ORGANIZATIONS AND INDIVIDUALS</h4>
                        <p>
                            You acknowledge and agree that xtayconnectafrica.com shall not be liable for your
                            interactions
                            with any organizations and/or individuals on the Website or through the Service. This
                            includes,
                            but is not limited to, payment and delivery of goods and services, and any other terms,
                            conditions, warranties or representations associated with any interaction you may have with
                            other organizations and/or individuals. These dealings are solely between you and such
                            organizations and/or individuals. You agree and acknowledge that xtayconnectafrica.com shall
                            not
                            be responsible or liable for any loss or damage of any sort incurred as the result of any
                            such
                            dealings or interactions. In the event that you have a dispute with one or more other users,
                            you
                            hereby release xtayconnectafrica.com, its officers, employees, agents and successors from
                            any
                            and all claims, demands and damages (actual and consequential) of every kind or nature,
                            known or
                            unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way
                            related to such disputes and/or our Service.
                        </p>
                        <h4>16. LIMITATION AND TERMINATION OF SERVICE</h4>
                        <p>
                            You acknowledge and agree that xtayconnectafrica.com may establish limits from time-to-time
                            concerning use of the Service, including among others, the maximum number of days that
                            Content
                            will be maintained or retained by the Service, the maximum number and size of postings,
                            e-mail
                            messages, or other Content that may be transmitted or stored by the Service, and the
                            frequency
                            with which you may access the Service or the Website. You acknowledge and agree that
                            xtayconnectafrica.com has no responsibility or liability for the deletion or failure to
                            store
                            any Content maintained or transmitted by the Website or the Service. You acknowledge and
                            agree
                            that xtayconnectafrica.com reserves the right at any time to modify or discontinue the
                            Service
                            (or any part thereof) with or without notice and that xtayconnectafrica.com shall not be
                            liable
                            to you or to any third party for any such modification, suspension or discontinuance of the
                            Service. You acknowledge and agree that xtayconnectafrica.com, in its sole and absolute
                            discretion, has the right (but not the obligation) to delete or deactivate your account,
                            block
                            your e-mail or IP address, or otherwise terminate your access to or use of the Service (or
                            any
                            part thereof), immediately and without notice, and remove and discard any Content within the
                            Service, for any reason or no reason at all. Further, you agree that xtayconnectafrica.com
                            shall
                            not be liable to you or any third-party for any termination of your access to the Website or
                            the
                            Service.
                        </p>
                        <h4>17.  ASSIGNMENT</h4>
                        <p>
                            These Terms and any rights and licenses granted hereunder may not be transferred or assigned
                            by
                            you but may be assigned by xtayconnectafrica.com without restriction. Any assignment or
                            transfer
                            by you shall be null and void.
                        </p>
                        <h4>18.  ABILITY TO ACCEPT TERMS OF SERVICE</h4>
                        <p>
                            This Website is intended only for adults and that you are eligible to contract as per
                            applicable
                            laws. If you are using/accessing this Website as a representative of any person/entity, you
                            acknowle6dge that you are legally authorized to represent that person/entity. Minors are
                            only
                            allowed to access the Website and use the Service, in the event of approval of their legal
                            representatives or in the event that it concerns an act or a transaction that is a usual and
                            acceptable standard in civil life and practice. You affirm that you are either at least 18
                            years
                            of age, or an emancipated minor, or possess legal parental or guardian consent and are fully
                            able and competent to enter into the terms, conditions, obligations, affirmations,
                            representations, and w66arranties set forth in these Terms, and to abide by and comply with
                            these Terms.
                        </p>
                        <h4>19. GENERAL INFORMATION</h4>
                        <p>
                            This Website and its services are provided to you subject to these Terms of Use (these
                            “Terms”).
                            For the purpose of the Terms and wherever the context so requires, the terms ‘you’ and
                            “your”
                            shall mean any person who uses the Website or the Service in any manner whatsoever including
                            persons browsing the Website and its content, posting comments, or any content or responding
                            to
                            any advertisements or content on the Website. By using the Service, you agree to comply with
                            these Terms. Additionally, when using a portion of the Service, you agree to conform to any
                            applicable posted guidelines for such Service, which may change or be updated from time to
                            time
                            at xtayconnectafrica.com ’s sole discretion. You understand and agree that you are solely
                            responsible for reviewing these Terms from time to time. Should you object to any term or
                            condition of these Terms, any guideline, or any subsequent changes thereto or become unhappy
                            with xtayconnectafrica.com or the Service in any way, your only choice is to immediately
                            discontinue the use of xtayconnectafrica.com. xtayconnectafrica.com may send you notice of
                            changes to the Website or the Terms. xtayconnectafrica.com may provide a translation of the
                            English version of the Terms into other languages. You understand and agree that any
                            translation
                            of the Terms into other languages is for your convenience only and that the English version
                            governs the terms of your relationship with xtayconnectafrica.com. Furthermore, if there are
                            any
                            inconsistencies between the English version of the Terms and any translation, the English
                            version of the Terms shall prevail.
                            Both advertisers and users are solely responsible for ensuring that advertising content,
                            text,
                            images, graphics, and video (“Content”) uploaded for inclusion on xtayconnectafrica.com
                            complies
                            with all applicable laws. xtayconnectafrica.com & xtayconnectafrica assumes no
                            responsibility
                            for any illegality or any inaccuracy of the Content.
                            The advertiser and user guarantee that his or her Content do not violate any copyright,
                            intellectual property rights, or other rights of any person or entity, and agrees to release
                            xtayconnectafrica.com and xtayconnectafrica from all obligations, liabilities, and claims
                            arising in connection with the use of (or the inability to use) the service.
                        </p>

                        <p>
                            Advertisers agree that their Content can may be presented through xtayconnectafrica.com’s
                            partner sites under the same terms and conditions as on xtayconnectafrica.com, These Terms
                            and
                            the other policies posted on the Website constitute the complete and exclusive understanding
                            and
                            agreement between you and xtayconnectafrica.com and govern your use of the Service and the
                            Website superseding all prior understandings, proposals, agreements, negotiations, and
                            discussions between the parties, whether written or oral. The Terms and the relationship
                            between
                            you and xtayconnectafrica.com shall be governed by the laws of the Republic of Ghana without
                            regard to its conflict of law principles. Any claim you may have against
                            xtayconnectafrica.com
                            must be submitted to the exclusive jurisdiction of the courts located within the Republic of
                            Ghana. The failure of xtayconnectafrica.com to exercise or enforce any right or provision of
                            the
                            Terms shall not constitute a waiver of such right or provision. If any provision of the
                            Terms is
                            found by a court of competent jurisdiction to be invalid (including, without limitation,
                            because
                            such provision is inconsistent with the laws of another jurisdiction) or inapplicable, the
                            parties nevertheless agree that the court should endeavor to give effect to the parties’
                            intentions as reflected in the provision. If any provision or provisions of these Terms is
                            held
                            to be invalid, illegal or unenforceable, the validity, legality, and enforceability of the
                            remaining provisions of the Terms shall not in any way be affected or be impaired. YOU AGREE
                            THAT ANY CAUSE OF ACTION BROUGHT BY YOU AND ARISING OUT OF OR RELATED TO YOUR USE OF THE
                            SERVICE
                            AND/OR THE WEBSITE MUST COMMENCE WITHIN A REASONABLE TIME AND IN ANY EVENT WITHIN ONE (1)
                            YEAR
                            AFTER THE CAUSE OF ACTION ACCRUES. These Terms shall inure to the benefit of and be binding
                            upon
                            each party’s successors.
                        </p>
                        <h4>20. VIOLATION OF TERMS/CONTACT US</h4>
                        <p>
                            Please report any violations of the Terms, including the Privacy Policy that you become
                            aware of
                            by contacting us at xtayconnectghana@gmail.com
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // let outline = new DocumentOutline();

    let outline = new DocumentOutline({
    // backgroundColor: '#4654A3',
    textColor: '#FFFFFF',
    textColorLight: 'lightgrey',
    accentColor: 'rgb(0, 140, 255)',
    defaultOpen: false,
});


</script>
{% endblock %}