{% extends 'header1.html' %}


{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

<head>
    {% block head %}


    <title>

        {% block title %}
        Your Shopping Cart| Checkout
        {% endblock title %}
    </title>

    {% endblock head %}


</head>

{% block content %}

<!-- {% if messages %}

{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">
    {{message|safe}} <a href="/">Continue Shopping</a>
</div>

{% endfor %}

{% endif %} -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="page-headers">Checkout {{user_last_info.name}}</h4>
            <form method="post" id="personForm" data-cities-url="{% url 'orders:ajax_load_cities' %}" novalidate>
                {% csrf_token %}
                {{ form|crispy}}<br>
                {% if cart.get_total_price < 1 %} <p class="text-danger  btn" style="color: #CE7F11;">your cart is empty
                    </p>
                    <a class="btn mx-6" style="background-color: #270949;color: white;" href="/">add some </a>

                    {% else %}
                    <input  id="save_checkout" type="submit" class="btn btn-primary mb-4" value="Submit order"
                        style="background-color: #4654A3;width: 84%">
                            <!-- <input type="text" name="demo" id="demo"> -->

       
            <!-- {{ form.media }} -->
           
        </div>


              


        <div class="col-md-6">
            <div class="shiping-methods card">
                <div class="section-title">
                    <h4 class="title">Payment  Methods</h4>
                  {{request.session.payment_method}}
                </div>

                <div class="form-group">
                    <div class="input-checkbox">
                        
                            <input style="height: 20px;" type="radio" value="Online" name="payment_method" id="payment1" class="radio"> 
                        <label for="shipping-1 mt-4">Online Payment</label>
                        <div class="caption" style="margin-left: 10% !important;">
                            you have selected to pay through online
                        </div>
                        <hr>
                    </div>
                    <div class="input-checkbox">
                        
                        <input style="height: 20px;" type="radio" value="On Delivery" name="payment_method" id="payment2" class="radio">
                        <label for="shipping-2">Pay On Delivery</label>
                        <div class="caption" style="margin-left: 10% !important;">
                            you have selected to pay on delivery
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="col-md-6">
                <div class="page-headers">
                    <b>Your Order review</b> <br>
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                    <li class="list-group-item">
                        {{ item.quantity }} {{ item.product.name }}
                        <span id="total_price"> Total GH₵: {{ item.total_price|intcomma }}</span>
                    </li>
                    {% endfor %}

                    <li class="list-group-item active" style="background-color: #FA7A62;">Total Cost: GH₵: {{cart.get_total_price|intcomma }}</li>
                </ul>
            </div>
            {% endif %}
            
            <!-- <div class="payments-methods">
                <div class="section-title">
                    <h4 class="title">Payments Methods</h4>
                </div>
                <div class="input-checkbox">
                    <input type="radio" name="payments" id="payments-1" checked>
                    <label for="payments-1">Online payment</label>
                    <div class="caption">

                      
                    </div>
                </div>
                <div class="input-checkbox">
                    <input type="radio" name="payments" id="payments-2">
                    <label for="payments-2">Try as much to describe the pickup location</label>
                    <div class="caption">

                    </div>


                </div>
                <div class="input-checkbox">
                    <input type="radio" name="payments" id="payments-3">
                    <label for="payments-3">Pay On Delivery</label>
                    <div class="caption">
                        <p>
                            contact customer care
                        <p>
                    </div>
                </div>
            </div> -->
            
        </div>
   
    </form>
    </div>
</div>


<!-- <button onclick="getLocation()">Try It</button> -->


<style>
    /* big screen */
    @media screen and (min-width: 600px) {
        #id_address {
            height: 5em !important;
            width: 40em;
        }
    }

    /* mobile */
    @media screen and (max-width: 600px) {
        #id_address {
            height: 5em !important;
            width: 26em !important;
        }
    }

    input{
        width: 50px;
    }
  
  
</style>

{% if user.is_authenticated %}
<script>

    document.getElementById('id_name').value = "{{request.user.name}}"
    document.getElementById('id_email').value = "{{request.user.email}}"
    document.getElementById('id_phone_number').value = "{{request.user.user.phone_number}}"

    // document.getElementById('id_').value = "{{request.user.phone}}"
    // document.getElementById('total').value=  document.getElementById('total_price').value
</script>

{% endif %}



<script src="{% static 'js/pages/checkout.js' %}"></script>
{% endblock %}

<!-- 

<form>
    <a class="ttlr_inline"
       data-APIKey="MDY3NWY4OTRkMGZmOTg3NGE4ZjU4Yzk5NzExN2YwOGI="
       data-transid="123456789012"
       data-amount="10"
       data-customer_email="aggrey.en@gmail.com"
       data-currency="GHS"
       data-redirect_url="http://127.0.0.1:8000/checkout_success/"
       data-pay_button_text="Pay Now"
       data-custom_description="Payment Using InlineJS"
       data-payment_method="both">
    </a>
</form>

<script type="text/javascript" src="https://test.theteller.net/checkout/resource/api/inline/theteller_inline.js"></script> -->
                  