{% extends 'header1.html' %}


{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

<head>
    {% block head %}


    <title>

        {% block title %}
        Your Shopping Cart| Checkout
        {% endblock title %}
    </title>

    {% endblock head %}


</head>

{% block content %}

<!-- {% if messages %}

{% for message in messages %}
<div class="alert alert-{{message.tags}}" role="alert">
    {{message|safe}} <a href="/">Continue Shopping</a>
</div>

{% endfor %}

{% endif %} -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-8">
          

            <form method="post" id="checkoutForm" data-cities-url="{% url 'orders:ajax_load_cities' %}" novalidate>
                {% csrf_token %}
              
<div class="container">
    <div class="row justify-content- center">

      
        <div class="col" id="checkout">
            <div class="section-title">
                <h4 class="title">Checkout</h4>
               
            </div>
            
           <div class="card border-primary" style="background-color: whitesmoke;">
             <div class="card-body bg-muted">
              
               
               <h4> PERSON INFORMATION</h4>
                <div class="form-row">
                   
                  <div class="form-group col-md-4 mb-0">
                    
                    {{ form.name|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.email|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.phone_number|as_crispy_field }}
                  </div>
                </div>
               
                    <h4>ADDRESS / LOCATION</h4> </h4>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.region|as_crispy_field }}
                      </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.city|as_crispy_field }}
                      </div>
                    
                  
                  </div>


                  <div class="form-row">
                    
                      <div class="form-group col-md-6 mb-0">
                        {{ form.address|as_crispy_field }}
                      </div>
                  
                  </div>

                  {% if cart.get_total_price < 1 %} <p class="text-danger  btn" style="color: 3D589E;">Your Cart Is Empty
                </p>
                <a class="btn mx-6" style="background-color:#3D589E;color: white;" href="/">Continue Shopping</a>

                {% else %}
                
                <p class="section-title text-capitalize">By clicking on Order Now, you have agree to our terms and conditions<a    style="color:#4654A3;" class='mx-4' href="/terms-and-conditions/">here</a></p>
                <input  id="save_checkout" type="submit" class="btn btn-primary mb-4" value="Order Now"
                    style="background-color: #3D589E;color: white">
                    

   
       
     
    {% endif %}                  
              </form>
             </div>
           </div>
          </div>
        </div>
    </div>
</div>
    </form>
    
    <div class="col-md-9" id="payment">
        
<div class="card">
    <div class="card-body">
     
            <div class="section-title">
                <h4 class="title">Payment Method</h4>   
            </div>
            <!-- <p class="text-muted">please select a payment method</p> -->

           <form action="#" method="post" id="paymentForm">
            {% csrf_token %}
            <div class="form-row justify-content-center">
             
                <div class="form-group col-md-4  col-sm-4">
             
                <div class="text-center" >
                    <label class="btn text-center" id="payment_method1" style="background-color:#FA7A62;color: white">On line</label>
                </div> 

            </div>
            <div class="form-group col-md-4 col-sm-4">

                <div class="text-center" >
                    <label class="btn text-center" id="payment_method2"  style="background-color: #FA7A62;color: white;">On Delivery</label>
                </div>
                
            </div>

            

        </div> <hr>
        <p class="text-center" id="please_wait"></p>
        <input  type="submit" class="btn" value="Submit order" id="Submit_order" style="background-color:#3D589E;color: white">
           </form>
    </div>
</div>
    </div>

            <div class="col-md-3 my-4">
                <div class="section-title">
                    <h4 class="title">Order(s) Review</h4>
                   
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                    <li class="list-group-item">
                        {{ item.quantity|apnumber }}({{item.quantity }}) {{ item.product.name }}
                        <span id="total_price"> Total GH₵: {{ item.total_price|intcomma }}</span>
                    </li>

                    {% empty %}
                    <p>empty place some orders <a href="/">here</a> </p>
                    {% endfor %}
                    <li class="list-group-item active" style="background-color:#3D589E;color: white">Total Cost: GH₵: {{cart.get_total_price|intcomma }}</li>
                </ul>
            </div>
          
        
   
    </div>
</div>


<!-- <button onclick="getLocation()">Try It</button> -->


<style>
  @media screen and (max-width: 600px){
      #id_address{
        max-width :100%;
      
      }
  }
</style>




{% if user.is_authenticated %}
<script>







    document.getElementById('id_name').value = "{{ request.user.username }}"
    document.getElementById('id_email').value = "{{request.user.email}}"
    document.getElementById('id_phone_number').value = "{{request.user.user.phone_number}}"

    // document.getElementById('id_').value = "{{request.user.phone}}"
    // document.getElementById('total').value=  document.getElementById('total_price').value
</script>

{% endif %}



<script src="{% static 'js/pages/checkout.js' %}"></script>
{% endblock %}

<!-- 
